/* app.component.css */
.bg-image {
    background-size: cover;
    background-position: center;
    height: 75vh; /* Ajustez la hauteur de l'image de fond */
    position: relative;
    margin: 0; /* Supprime les marges */
    width: 100%; /* Utilise toute la largeur de la fenêtre */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Couche de superposition pour l'effet sombre */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

h1 {
    color: #ffffff;
}

.lead {
    color: #ffffff;
}

.navbar {
    margin: 0; /* Supprime les marges de la barre de navigation */
}

.nav-link {
    transition: background-color 0.7s ease;
}

.nav-link:hover {
    background-color: #a7a7a7; /* Couleur au survol */
}

/* Styles de carte */
.card {
    border: none; /* Supprime les bordures par défaut des cartes */
    border-radius: 8px; /* Ajoute un arrondi aux coins */
}

.card-title {
    font-weight: bold; /* Met en gras le titre de la carte */
}

.card-text {
    margin-bottom: 1.5rem; /* Ajoute de l'espacement en bas du texte */
}

.contact-section {
    background-color: #000000; /* Couleur de fond claire pour contraster avec le texte */
    padding: 40px 0; /* Espacement vertical */
    border-radius: 8px; /* Arrondi aux coins */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Ombre légère */
}

.contact-section h2 {
    color: rgb(218, 203, 203); /* Couleur du titre */
    margin-bottom: 20px; /* Espacement en bas du titre */
}

.contact-section p {
    color: rgb(253, 239, 239); /* Couleur du texte descriptif */
    margin-bottom: 20px; /* Espacement en bas du texte descriptif */
}

.contact-section ul {
    list-style-type: none; /* Supprime les puces */
    padding: 0; /* Supprime le remplissage par défaut */
}

.contact-section li {
    color: rgb(253, 251, 251); /* Couleur du texte des coordonnées */
    font-size: 1.1em; /* Taille de police légèrement plus grande */
    margin-bottom: 10px; /* Espacement entre les lignes */
}
