.laboratoire-list {
  padding: 20px;
}

.laboratoire-list h2 {
  color: #2a4963; /* Couleur de votre thème */
  margin-bottom: 20px; /* Espacement en bas du titre */
}

.logo {
  width: 50px; /* Largeur fixe pour les logos */
  height: auto; /* Hauteur auto pour maintenir le ratio d'aspect */
  border-radius: 5px; /* Arrondir les coins du logo si besoin */
}

.table {
  font-size: 0.9rem; /* Réduction de la taille de texte du tableau */
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(234, 236, 239, 0.5); /* Couleur de fond alternée */
}

.table-hover tbody tr:hover {
  background-color: rgba(220, 220, 220, 0.5); /* Couleur de survol des lignes */
}

.table th, .table td {
  vertical-align: middle; /* Aligner verticalement le contenu */
}

.btn {
  margin-right: 5px; /* Espacement entre les boutons */
}

.btn i {
  margin-right: 5px; /* Espacement entre l'icône et le texte */
}
